<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Mi Perfil</h1>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Bienvenido!, <strong>{{user.first_name}} {{user.last_name}}</strong></p>
                        <p class="card-text">Email: {{user.email}}</p>
                        <p class="card-text">Edad: {{user.age}}</p>
                        <p class="card-text">Rol: {{user.role}}</p>
                        <p class="card-text">Carrito: {{user.cartId}}</p>
                            <a href="/api/sessions/logout" class="btn btn-danger">Logout</a>
                        </form>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Subir Imagen de Perfil</h5>
                        <form action="/api/upload/profile" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="profileImage">Seleccionar Imagen</label>
                                <input type="file" class="form-control-file" id="profileImage" name="profile" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Subir</button>
                        </form>
                    </div>
                </div>

                <div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Subir Documentos</h5>
        <form action="/api/users/documents" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="documents">Seleccionar Documentos</label>
                <input type="file" name="document" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Subir Documentos</button>
        </form>
    </div>
</div>



            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
